<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dadm.quixada.ufc.lavandery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lavandery">
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".SelectAccountTypeActivity"
            android:exported="true" />
        <activity
            android:name=".AddressRegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".EditCellPhoneActivity"
            android:exported="true" />
        <activity
            android:name=".EditEmailActivity"
            android:exported="true" />
        <activity
            android:name=".EditName"
            android:exported="true" />
        <activity
            android:name=".AccountSettings"
            android:exported="true" />
        <activity
            android:name=".ConsumerPreferencesActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>